<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Account Mgt. | HashForexUG</title>
  <link rel="shortcut icon" type="image/png" href="assets/images/logos/favicon.png" />
  <link rel="stylesheet" href="assets/css/styles.min.css" />
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="index.html" class="text-nowrap logo-img">
            <img src="assets/images/logos/dark-logo.png" width="180" alt="" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Navigation</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="index.html" aria-expanded="false">
                <span>
                  <i class="ti ti-home"></i>
                </span>
                <span class="hide-menu">My Dashboard</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="pricing.html" aria-expanded="false">
                <span>
                  <i class="ti ti-businessplan"></i>
                </span>
                <span class="hide-menu">Pricing</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="https://hashforexug.com/live-chat/" target="_blank" aria-expanded="false">
                <span>
                  <i class="ti ti-brand-hipchat"></i>
                </span>
                <span class="hide-menu">Live Chat</span>
              </a>
            </li>
            
             <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Risk Management</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="basic-acc-mgt.html" aria-expanded="false">
                <span>
                  <i class="ti ti-subtask"></i>
                </span>
                <span class="hide-menu">Basic Account Management</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="journal-trades.html" aria-expanded="false">
                <span>
                  <i class="ti ti-notes"></i>
                </span>
                <span class="hide-menu">Journal Your Trades</span>
              </a>
            </li> 
             <li class="sidebar-item">
              <a class="sidebar-link" href="trading-business-plan.html" aria-expanded="false">
                <span>
                  <i class="ti ti-chart-infographic"></i>
                </span>
                <span class="hide-menu">My Trading Business Plan</span>
              </a>
            </li>   

            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Markets</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="trading-view.html" aria-expanded="false">
                <span>
                  <i class="ti ti-timeline"></i>
                </span>
                <span class="hide-menu">Trading VIew</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="stock-markets.html" aria-expanded="false">
                <span>
                  <i class="ti ti-chart-line"></i>
                </span>
                <span class="hide-menu">Stock Markets</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Support</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="javascript:void(0)" aria-expanded="false">
                <span>
                  <i class="ti ti-help"></i>
                </span>
                <span class="hide-menu">Support Centre</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="https://hashforexug.com/contact-us/" target="_blank" aria-expanded="false">
                <span>
                  <i class="ti ti-phone"></i>
                </span>
                <span class="hide-menu">Contact Us</span>
              </a>
            </li>


            
          </ul>
          
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">
          <ul class="navbar-nav">
            <li class="nav-item d-block d-xl-none">
              <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                <i class="ti ti-menu-2"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                <i class="ti ti-bell-ringing"></i>
                <div class="notification bg-primary rounded-circle"></div>
              </a>
            </li>
          </ul>
          <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
            <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
              <a href="authentication-login.html" class="btn btn-primary m-1">Logout</a>
              
            </ul>
          </div>
        </nav>
      </header>
      <!--  Header End -->
        
<!-- Insert content Here-->

      <div class="container-fluid">
        <div class="container-fluid">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title fw-semibold mb-4">Message</h5>
              <div class="card mb-0">
                <div class="card-body p-4">
                  
                  <div class="alert alert-secondary" role="alert">
                    Hello There,
                  </div>
                  <div class="alert alert-success" role="alert">
                    Welcome!
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

  </div>







<!--Conntent Ends Here-->

<!--Footer Stars Here-->

        <div class="py-6 px-6 text-center">
          <p class="mb-0 fs-4">Copyright © 2024 Hash Forex Uganda. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </div>
  <script src="assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/sidebarmenu.js"></script>
  <script src="assets/js/app.min.js"></script>
  <script src="assets/libs/apexcharts/dist/apexcharts.min.js"></script>
  <script src="assets/libs/simplebar/dist/simplebar.js"></script>
  <script src="assets/js/dashboard.js"></script>
</body>

</html>